.main{
    font-size: 30px;
    text-align: center;
    padding: 1rem;
    position: relative;
    
}
.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
    padding: 1rem;
    position: relative;

  }
  
  .flexitemleft {
    background-color: rgba(0,0,0,0.25);
    padding: 10px;
    flex: 40%;
    margin: 5px;
  }
  
  .flexitemright {
    background-color: #F18303;
    padding: 10px;
    flex: 40%;
    margin: 5px;
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flexitemright, .flexitemleft {
      flex: 100%;
    }
  }